<div class="columns is-vcentered is-fullscreen">
  <div class="column has-text-centered">
    <p class="title is-2">Bonjour</p>
    <p class="subtitle is-4">Bienvenue sur TimeCapsule</p>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="control">
            <div class="select">
              <select>
              </select>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Découvrir</a>
      </footer>
    </div>
  </div>
</div>
