<div class="columns is-gapless reverse-columns">
  <div class="column">
    <section class="hero is-fullheight" *ngIf="!articleDisplayed">
      <div class="hero-body">
        <div class="">
          <p class="title">
            TimeCapsule
          </p>
          <p class="subtitle">
            Bienvenue
          </p>
        </div>
      </div>
    </section>
    <section class="hero is-fullheight" *ngIf="articleDisplayed">
      <div class="hero-body">
        <div class="">
          <p class="title">
            {{ articleDisplayed.title }}
          </p>
          <p class="subtitle">
            {{ articleDisplayed.tag }}
          </p>
          <hr>
          <p>{{ articleDisplayed.contenu }}</p>
          <br>
          <p>{{ articleDisplayed.source }}</p>
        </div>
      </div>
    </section>
  </div>
  <div class="column is-1 is-flex is-justify-content-end">
    <button class="button is-medium is-primary mt-2 mr-2" (click)="toggleColumn()">
      <span class="icon">
        <i class="fa-solid fa-bars fa-lg"></i>
      </span>
    </button>
  </div>
  <div class="column is-one-quarter-desktop is-half-tablet has-background-primary" [ngClass]="{'is-hidden': !isOpen}">
    <div class="card m-5">
      <div class="card-content">
        <div class="content">
          <app-side-menu (displayedArticle)="displayArticle($event)"></app-side-menu>
        </div>
      </div>
    </div>
  </div>
</div>
